/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f5f9f1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0px 0px; /* Similar padding as content */
	color: #4D4D4D;
}

#top-image {
	width: 100%; /* Full width */
	text-align: center; /* Center-align the image */
	margin-bottom: 0px; /* Add some space below the image */
	padding: 0px 0px; /* Similar padding as content */

  }

#top-image img {
width: 100%; /* Adjust the width as necessary */
height: auto; /* Maintain aspect ratio */
margin-top: 0px; /* Add space above the image */
padding: 0px 0px; /* Similar padding as content */

}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Arvo', serif;
	color: #056303;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #C16C2F;
}

a:hover {
}

#wrapper {
	width: 100%;
	height: 5%; /* Replace with the desired height */
	background: none
}


#wrapper2 {
	width: 100%;
	height: 5vh; /* 5% of the viewport height */
	background: linear-gradient(to right, #949085 0%, #949085 0%, #000000 0%, #000000 100%);
  }

.container {
	width: 100%; /* or you can use a specific pixel width like 1200px */
	height: 5%; /* Replace with the desired height */
	margin: 0 auto; /* This centers the container */
	/* Other styles */
  }

/* Header */

#header {
	width: 100%;
	height: 5%; /* Replace with the desired height */
	margin: 0px auto;
	padding: 0px 0px; 
}


/* Menu */

#menu {
	display: flex;
	align-items: center;
	justify-content: flex-end; /* Align items to the start (left) */
	height: 100%;
	padding-left: 20px; /* Add padding to push content from the very edge */
	margin: 0;
	list-style: none;
  }

#menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the start (left) */
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
  
#menu li {
	padding: 0;
	margin-right: 20px; /* Adjust space between menu items */
  }
  
  #menu a {
	color: #FFFFFF; /* Or any other color that fits the design */
	padding: 10px 15px; /* Adjust padding as necessary */
	text-decoration: none;
	text-align: justify;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}


@media screen and (max-width: 600px) {
    .some-class {
        font-size: 14px;
    }
    .another-class {
        display: none; /* Hide elements not critical for small screens */
    }
}

body {
    font-size: 16px; /* Default font size */
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Smaller font size for smaller screens */
    }
}



/* Page */

#page {
	width: 100%;
	margin: 0px auto;
	
}

/* Content */


#content {
    float: none; /* Remove float */
    width: 100%;
    padding: 0px 0px; /* Add horizontal padding */
    margin: 0 auto;
    background-color: #FFFFFF;
}

.post {
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 1px dashed #CACACA;
	padding: 10px 40px; /* Add horizontal padding */

}

.post .title {
	margin: 0px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
	color: #000000;
}

.post .title a {
	border: none;
	letter-spacing: 1px;
	letter-spacing: -1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: normal;
	color: #C16C2F;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 12px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 30px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	float: right;
	margin: 20px 0px 30px 0px;
	text-align: right;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 12px;
	font-weight: normal;
}

.more {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 30px;
}

.comments {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
}


.dashed-paragraph {
	text-align: justify;
    border-bottom: 1px solid #000; /* black dashed line */
    padding-bottom: 15px; /* space between text and the dash */
    margin-bottom: 15px; /* space between dash and next paragraph */
}

.spaced-line {
    display: block;
    content: "";
    margin-bottom: 7px; /* Adjust this value as needed */
}

/* Sidebar */

#sidebar {
	float: left;
	width: 10%;
	margin: 20px 20px;
	color: #000000;
	padding: 0; /* Make sure there's no extra padding */
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  #sidebar li {
	line-height: 25px;
	border-bottom: 1px dashed #000000;
	margin: 0x;
	padding: 0 0px; /* Padding inside each li */
	font-size: 14px;
	font-weight: normal;
  }

  #sidebar a {
	display: block; /* Makes the entire list item area clickable */
	padding: 5px 0px; /* Add some padding for spacing */
	color: #000000; /* Link color */
	text-decoration: none; /* Removes underline from links */
	margin: 0; /* Ensure no extra margin for links */  
}


  #sidebar a:hover {
	text-decoration: underline; /* Adds underline on hover for visual feedback */
  }

#sidebar li li span {
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	padding-left: 30px;
	text-align: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 0px 30px;
	text-align: justify;
	font-size: 14px;
}

#sidebar a {
	border: none;
	color: #000000;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}


/* Footer */

#footer {
	width: 100%;
	margin: 0 auto; /* Center the footer */
	padding: 15px 0px; /* Adjust padding as necessary */
	background: #000000;
	color: #FFFFFF;
	/* Remove any bottom margin or padding that may exist here */
  }

#footer p {
	margin: 0;
	line-height: normal;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	text-align: center;
	font-family: 'Arvo', serif;
	font-weight: normal;
	font-size: 10px;
}

#footer a {
	color: #949085;
}

#banner {
	width: 100%;
	margin: 0px auto;
	height: 150px;
}


@media screen and (max-width: 768px) {
    #sidebar, #content {
        width: 100%;
        float: none;
    }
}


.social-links {
    display: flex;
    justify-content: flex-end; /* aligns items to the right */
    align-items: center; /* aligns items vertically */
    gap: 15px; /* space between items */
	padding-bottom: 10px; /* space between text and the dash */
    padding-right: 10px; /* space on the right inside the container */

}

.social-links img {
    width: 30px;
    height: 30px;
}

.about-me-container {
    display: flex;
    align-items: center; /* Aligns the image and text vertically */
    gap: 20px; /* Adjust the space between the image and text */
}

.about-me-image img {
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
	margin: 0 0px;
	padding: 0px 0px 20px 0px;
}

.about-me-text {
    flex-grow: 1; /* Allows the text to take up the remaining space */
}


@media (max-width: 200px) {
    .about-me-container {
        flex-direction: column;
        align-items: flex-start; /* Aligns items to the start */
    }

    .about-me-image img {
        float: none;
        margin: 0 auto; /* Center the image */
        width: 100%; /* Full width of the container */
    }
}
